# Jupyter Notebook - Week 6, Book 1
## Files in pandas
For the first 3 tasks you will need the .csv files provided.

### Task 1
Let's start simply. Write a program which opens task1.csv and reads its contents into a DataFrame. Then, display this DataFrame to the screen.

In [10]:
import pandas as pd

df = pd.read_csv('Book 1 Task 1.csv')
df

  ProductID              Name  Price
0  DG35823G     Wilson Flange   1311
1  GS23829H     Handle Girder    213
2  KH63532G    Nimble Tractor    328
3  HS98234B  Addison Silencer   2321
4  FG65251N    Peterson Gorge   7263
5  MN87383H    Limber Drumble    637

### Task 2
The file task2.csv needs to be loaded into our program, but it doesn't contain a header row. Write two functions here, and test both from main(). The first will use automaticlly generated headers when loading the file, and the second will use the following headers: "ProductID", "Name", "Price"

Both functions need to read the task2.csv file in appropriately, and then print it.

In [11]:
import pandas as pd

def main():
    load_file_with_auto_generated_headers()
    print()
    load_file_with_user_assigned_headers()
    
def load_file_with_auto_generated_headers():
    df_auto = pd.read_csv('Book 1 Task 2.csv', header = None)
    print(df_auto)

def load_file_with_user_assigned_headers():
    df_user_assigned = pd.read_csv('Book 1 Task 2.csv', names = ['Name', 'Price', 'ProductID'])
    print(df_user_assigned)

main()

                  0     1         2
0     Wilson Flange  1311  DG35823G
1     Handle Girder   213  GS23829H
2    Nimble Tractor   328  KH63532G
3  Addison Silencer  2321  HS98234B
4    Peterson Gorge  7263  FG65251N
5    Limber Drumble   637  MN87383H

               Name  Price ProductID
0     Wilson Flange   1311  DG35823G
1     Handle Girder    213  GS23829H
2    Nimble Tractor    328  KH63532G
3  Addison Silencer   2321  HS98234B
4    Peterson Gorge   7263  FG65251N
5    Limber Drumble    637  MN87383H

### Task 3
Now write a program which loads the file task3.csv into a DataFrame, using the existing header row, and using the "ID" column as the index.

In [7]:
import pandas as pd

df = pd.read_csv('Book 1 Task 3.csv', index_col = 'ProductID')
df

                       Name  Price
ProductID
DG35823G      Wilson Flange   1311
GS23829H      Handle Girder    213
KH63532G     Nimble Tractor    328
HS98234B   Addison Silencer   2321
FG65251N     Peterson Gorge   7263
MN87383H     Limber Drumble    637

### Task 4
Take the following DataFrame:
```python
data = { 'state' : [ 'Ohio' , 'Ohio' , 'Ohio' , 'Nevada' , 'Nevada' , 'Nevada' ],
'year' : [ 2000 , 2001 , 2002 , 2001 , 2002 , 2003 ],
'pop' : [ 1.5 , 1.7 , 3.6 , 2.4 , 2.9 , 3.2 ]}
frame = pd.DataFrame (data)
```
and save it three times, using the following names and requirements:

|Filename|Requirements|
|-:|:-|
|full_frame.csv|Contains the data, headers, and index labels|
|data.csv|Contains data and headers, but no index|
|state_data.csv|Contains data and headers, in the order "state", "year", "pop". No index|

In [18]:
data = { 'state' : [ 'Ohio' , 'Ohio' , 'Ohio' , 'Nevada' , 'Nevada' , 'Nevada' ],
'year' : [ 2000 , 2001 , 2002 , 2001 , 2002 , 2003 ],
'pop' : [ 1.5 , 1.7 , 3.6 , 2.4 , 2.9 , 3.2 ]}
frame = pd.DataFrame(data)

frame.to_csv('full_frame.csv')
frame.to_csv('data.csv', index = False)
frame.to_csv('state_data.csv', index = False, columns = ['state', 'year', 'pop'])